<div class="col-md-4 mb-3">
                    <div class="card mt-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'user_panel_view' %}">اطلاعات اکانت</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'user_panel_register_detail_view' %}">اطلاعات آزمون</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'user_panel_register_edit_view' %}">ویرایش اطلاعات آزمون</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'user_panel_password_edit_view' %}">تغییر کلمه عبور</a>
                            </li>
                        </ul>
                    </div>
                </div>