{% extends 'shared/_layout.html' %}
{% block content %}
    <div class="container forget-pass-form">
        <div>
            <h2>فراموش رمز عبور</h2>
            <form action="{% url 'forget-password' %}" method="post">
                {% csrf_token %}
                <label for="phone_number">شماره تلفن : </label>
                <input id="phone_number" name="phone_number" type="text" placeholder="شماره تلفن ...">
                <input name="request_type" type="text" hidden="hidden" value="phone_number">
                <button class="btn btn-success" type="submit">ارسال</button>
            </form>
        </div>
    </div>
{% endblock %}