{% extends 'shared/_layout.html' %}
{% block content %}
    <div class="quiz-success-section">
        <div class="quiz-success-container">
    <span>
        ثبت نام شما با موفقیت انجام شد بعد از بررسی با شما تماس گرفته میشود
    </span>
        </div>
        <div class="quiz-btn-container">
            <a href="{% url 'home_page_view' %}" class="quiz-success-home">
                رفتن به حساب کاربری
            </a>
            <a href="{% url 'user_panel_view' %}" class="quiz-success-account">
                شروع آزمون
            </a>
        </div>
    </div>

{% endblock %}