{% extends 'shared/_layout.html' %}
{% load static %}

{% block content %}
    <div class="quiz-form-container">
        <div class="quiz-form-title">
            فرم ثبت نام در آزمون
        </div>
        <div class="quiz-form-section">
            <form method="post" class="quiz-form" action="{% url 'register_quiz_view' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success quiz-form-submit-btn">
                    ارسال
                </button>
            </form>
        </div>
    </div>

{% endblock %}