{% extends 'shared/_layout.html' %}
{% block content %}
    <div class="text-preview-section">
        <div class="text-preview-header">
            پشتیبانی کافنا
        </div>
        <div class="support-container">
            <ul>
                <li>شماره تلفن 1 : <a href="tel:09393750790">09393750790</a></li>
                <li>شماره تلفن 2 : <a href="tel:09125866638">09125866638</a></li>
                <li>ایمیل 1 : <a href="mailto:kataunasgari@gmail.com">kataunasgari@gmail.com</a></li>
                <li>ایمیل 2 : <a href="mailto:jalilimba@gmail.com">jalilimba@gmail.com</a></li>
            </ul>
        </div>
    </div>


{% endblock %}